<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="index::headstuff">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
</head>
    <body>
    <div th:replace="fragments/mainpage::navclass">This page has a navbar</div>

    <div th:replace="fragments/mainpage :: everydiv">This will display with every div's information</div>
    <div sec:authorize="hasAuthority('ADMIN')">You see this because you can see the admin page. Good job! </div>
    </body>
</html>