<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head th:fragment="headstuff">
        <meta charset="utf-8" />

        <title>Security Demonstration</title>
    </head>
    <body>
    <div class="continer">
  <h1>  <li>
        <a href="/jobseeker">
            <i class="fa fa-user"></i>
            Resume form
        </a>
    </li></h1>
   <h2> <li sec:authorize="hasAuthority('TEACHER')">
        <a href="/search">
            SEARCH EMPLOYEE
        </a>
    </li></h2>


    </div>
    <img class="homepagepicture"
         src=" https://fthmb.tqn.com/zyL_CmDSTrWLXTA1nj2NQMtqip4=/2122x1415/filters:no_upscale():fill(transparent,1)/494323025-56a4f2783df78cf77285735e.jpg "
         align="center" alt="different job"/></div>





        </nav>
    </body>
    <script src="/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.js" type="text/javascript"></script>
    <script src="/js/awesome-landing-page.js" type="text/javascript"></script>
    </div>
    </body>
</html>
