<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="index::headstuff">
    <meta charset="utf-8" />
    <title>${title}</title>
</head>
<body>
    <div class="container">
            <h4>Fill your information</h4>
        <form action="#" th:action ="@{/process}" th:object="${jobseeker}" method="post">
            <input type="hidden" th:field="*{id}" />


            Fullname<mark><strong>
            <span th:if="${#fields.hasErrors('fullname')}"
                              th:errors="*{fullname}">Fullname Error</span></strong></mark>
                <input type="text" id="fullname" placeholder="Fullname"
                       th:field="*{fullname}" /><br />
                Email <mark><strong>
                        <span th:if="${#fields.hasErrors('email')}"
                              th:errors="*{email}">Email Error</span></strong></mark>
                <input type="text" id="email" placeholder="Email"
                       th:field="*{email}" /><br />


            Levelofstudy <mark><strong>
                        <span th:if="${#fields.hasErrors('levelofstudy')}"
                              th:errors="*{levelofstudy}">Levelofstudy Error</span></strong></mark>
                <input type="text" id="levelofstudy" placeholder="Levelofstudy"
                       th:field="*{levelofstudy}" /><br />

            Fieldofstudy <mark><strong>
                        <span th:if="${#fields.hasErrors('fieldofstudy')}"
                              th:errors="*{fieldofstudy}">Fieldofstudy Error</span></strong></mark>
                <input type="text" id="fieldofstudy" placeholder="Fieldofstudy"
                       th:field="*{fieldofstudy}" /><br />

            Wherestudy <mark><strong>
                        <span th:if="${#fields.hasErrors('wherestudy')}"
                              th:errors="*{wherestudy}"> Wherestudy Error</span></strong></mark>
                <input type="text" id="where" placeholder="Wherestudy"
                       th:field="*{wherestudy}" /><br />

            Whenstudy<mark><strong>
                        <span th:if="${#fields.hasErrors('whenstudy')}"
                              th:errors="*{whenstudy}"> Whenstudy Error</span></strong></mark>
                <input type="text" id="whenstudy" placeholder="Whenstudy"
                       th:field="*{whenstudy}" /><br />

                Position <mark><strong>
                        <span th:if="${#fields.hasErrors('position')}"
                              th:errors="*{position}">Position Error</span></strong></mark>
                <input type="text" id="position" placeholder="Position"
                       th:field="*{position}" /><br />

            Wherework<mark><strong>
                        <span th:if="${#fields.hasErrors('wherework')}"
                              th:errors="*{wherework}">Wherework Error</span></strong></mark>
                <input type="text" id="wherework" placeholder="Wherework"
                       th:field="*{wherework}" /><br />

            Whenwork<mark><strong>
                        <span th:if="${#fields.hasErrors('whenwork')}"
                              th:errors="*{whenwork}">Whenwork Error</span></strong></mark>
                <input type="text" id="whenwoork" placeholder="Whenwork"
                       th:field="*{whenwork}" /><br />

                Duty <mark><strong>
                        <span th:if="${#fields.hasErrors('duty')}"
                              th:errors="*{duty}">Duty Error</span></strong></mark>
                <input type="text" id="duty" placeholder="Duty"
                       th:field="*{duty}" /><br />
            Fieldofskill <mark><strong>
                        <span th:if="${#fields.hasErrors('fieldofskill')}"
                              th:errors="*{fieldofskill}">Fieldofskill Error</span></strong></mark>
                <input type="text" id="fieldofskill" placeholder="Fieldofskill"
                       th:field="*{fieldofskill}" /><br />

            Levelofskill<mark><strong>
                        <span th:if="${#fields.hasErrors('levelofskill')}"
                              th:errors="*{levelofskill}">Levelofskill Error</span></strong></mark>
                <input type="text" id="levelofskill" placeholder="Levelofskill"
                       th:field="*{levelofskill}" /><br />
                <button type="submit" class="btn btn-default">Submit</button>

 </form>
        </div>

    </body>
</html>