<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org.thymeleaf-extras-springsecurity4">
<head th:replace="index::headstuff">
    <meta charset="UTF-8"/>
    <title>Page Two</title>
</head>


    <body>
        <!--Show the logged in user -->
        <!--Show information relating to the logged in user  (username) -->

       <div th:replace="fragments/mainpage::navclass">This page has a navbar</div>
        <h1 sec:authorize="hasAuthority('TEACHER')">Only administrators should see this</h1>
       <div class="container">
               <h4 th:inline="text">Hi, <span class="text-success" sec:authentication="name"></span>, we're really glad you logged in!</h4>
             <div th:replace="fragments/mainpage :: everydiv">This text will be replaced where a th:replace is used. </div>
       </div>
    </body>
</html>