<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="index::headstuff">
    <meta charset="UTF-8"/>
    <title>Page Three</title>
</head>
    <body>

<div class="6-md-12"style="text-align: center">
<h1>welcome !! </h1>
    <h2>Find Your Employee</h2>
    <h3>SEARCH THE SKILL THAT YOU LOOK FOR PLEASE!</h3>
</div>
<div class="search"style="text-align: center">
<form id="search-form" name="search" action="/products" method="get">
    <input id="search-input" name="search" type="text">
    <input src="path/to/image" name="search" type="image">
</form></div>
    </body>
</html>